# -----------------------------
# Python
# -----------------------------
#__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# -----------------------------
# Виртуальное окружение
# -----------------------------
venv/
env/
ENV/
.venv/
# -----------------------------
# Логи и временные файлы
# -----------------------------
*.log
log.txt
error.log

# -----------------------------
# IDE и редакторы
# -----------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -----------------------------
# Кэш и временные файлы
# -----------------------------
*.tmp
*.swp
*.DS_Store

# -----------------------------
# Большие медиа файлы (по желанию)
# -----------------------------
videos/
images/
